body{
    margin: 0;
}

.duda{
    height: 100vh;
    display: grid;
    grid-template-areas:
    "rosa ciano verde"
    "azul ciano verde"
    "vermelho vermelho vermelho";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 10px ;
}

.rosa{
    grid-area: rosa;
    background-color: rgb(245, 139, 157);
}
.ciano{
    grid-area: ciano;
    background-color:rgb(0, 255, 213);
}
.azul{
    grid-area: azul;
    background-color: blue;
}
.verde{
    grid-area: verde;
    background-color: green;
}
.vermelho{
    grid-area: vermelho;
    background-color: red;
}